.p{
    font: bold italic 110% serif;
}
.top-buffer{
    margin-top: 100px;
}
.right-buffer{
    margin-left: 60%;
    margin-top: 100px;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
}
.profile {
    position: fixed; /* Фиксированное положение */
    text-align: center;
    right: 0; bottom: 100%; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #83b5b3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
.pict {
    text-align: center; /* Выравнивание по центру */
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}

.ref { cursor: pointer; }

ul.list-group:after {
    clear: both;
    content: "";
}

.list-group-item-betraven {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom: -1px;
    background-color: #fff;
    float: left;
    font-family: 'Alegreya Sans SC', sans-serif;
}
p{
    color: #2b542c;
    font-family: 'Andika', sans-serif;
}
h3{
    font-family: 'Forum', cursive;
}
h4{
    font-family: 'Jura', sans-serif;
}
.navbar-options{
    font-family: 'Roboto Condensed', sans-serif;
}
.table-nonfluid{
    font-family: 'Lora', serif;
    margin: 0 auto;
}
.form-signin{
    font-family: 'Lora', serif;
    text-align: center;
}
.table-nonfluid th{
    text-align: center;
}

navbar-right>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.result-win{
    color: #87ee21;
}
.result-loose{
    color: #ec001b;
}
.usd-display {
    position: relative;
    display: block;
    padding: 15px 15px;
}
.radio-betraven{
    height:15px;
    width:15px;
    margin: 10px;
}
